.custom-navbar {
  width: 100%;
  background-color: black;
  height: 50px;
  border-radius: unset;
  display: table;
}
.custom-navbar .navbar-container {
  width: 1440px;
  margin: 0 auto;
  height: 100%;
  color: white;
}
.custom-navbar .navbar-container div {
  margin-top: 12px;
  margin-right: 20px;
}
.custom-navbar .navbar-container a:link,
.custom-navbar .navbar-container a:hover,
.custom-navbar .navbar-container a:active,
.custom-navbar .navbar-container a:visited {
  text-decoration: none;
  color: white;
}
.custom-navbar .navbar-container .login-or-logout {
  float: right;
  font-size: 2rem;
}
.custom-navbar .navbar-container .login-or-logout button {
  background-color: transparent;
  border-style: none;
}
.custom-navbar .navbar-container .user-info {
  float: right;
  font-size: 2rem;
}
.custom-navbar .navbar-container .brand-logo {
  float: left;
  font-size: 2rem;
}
footer.footer-section {
  width: 100%;
  height: 350px;
  background-color: darkgrey;
  display: table;
}
footer.footer-section .footer-container {
  width: 1440px;
  height: 100%;
  margin: 0 auto;
}
main.main-content {
  width: 100%;
  height: 100%;
  display: table;
}
main.main-content .main-content-wrapper {
  width: 1440px;
  height: 100%;
  margin: 50px auto 50px auto;
  padding: 10px;
}
main.main-content .main-content-wrapper .current-page {
  width: 100%;
}
main.main-content .main-content-wrapper .body-content {
  width: 100%;
}
main.main-content .form-container {
  width: 400px;
  height: 400px;
  background-color: #d5d5d5;
  border-radius: 20px;
  margin: 0 auto;
  padding: 20px;
}
main.main-content .form-container h2 {
  margin: 0;
}
main.main-content .form-container .form {
  margin-top: 20px;
}
main.main-content .form-container .form button {
  width: 100%;
  margin-top: 50px;
}
main.main-content .main-content-wrapper .body-content .h2-sample span {
  font-size: 3rem;
}
.files-container {
  width: 90%;
  height: 500px;
  overflow: auto;
  margin: 0 auto;
}
.files-container .files-wrapper {
  width: 90%;
  height: 100%;
  display: table;
  margin: 50px auto 0 auto;
  color: black;
}
.files-container .files-wrapper .file-item-container {
  width: 200px;
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.files-container .files-wrapper .file-item-container .file-item-wrapper {
  height: 100%;
  width: 100%;
}
.files-container .files-wrapper .file-item-container .file-item-wrapper a {
  display: table;
  width: inherit;
}
.files-container .files-wrapper .file-item-container .file-item-wrapper a:link,
.files-container .files-wrapper .file-item-container .file-item-wrapper a:active,
.files-container .files-wrapper .file-item-container .file-item-wrapper a:hover,
.files-container .files-wrapper .file-item-container .file-item-wrapper a:visited {
  text-decoration: none;
}
.files-container .files-wrapper .file-item-container .file-item-wrapper a strong {
  color: black;
}
.files-container .files-wrapper .file-item-container .file-item-wrapper a p {
  font-size: 12px;
  color: black;
}
.files-container .files-wrapper .file-item-container .file-item-wrapper .file-item-image {
  width: auto;
  font-size: 30px;
  border-bottom-style: none;
  border-top-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  border-top-width: thin;
  border-left-width: thin;
  border-right-width: thin;
  border-color: #dbdbdb;
  text-align: center;
  height: 60px;
}
.files-container .files-wrapper .file-item-container .file-item-wrapper .file-item-description {
  background-color: #dbdbdb;
  width: 100%;
  padding: 5px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.files-container .files-wrapper .file-item-container .file-item-wrapper .file-item-description strong {
  font-size: 12px;
}
.files-container .files-wrapper .file-item-container .file-item-wrapper .file-item-description p {
  font-size: 8px;
}
.filter-bar-container {
  width: 100%;
}
.filter-bar-container .filter-bar-wrapper {
  width: 250px;
}
.clear-filters {
  display: none;
  border-style: none;
  background-color: #ffffff;
  border-style: solid;
  border-radius: 20px;
}
.form-group select {
  width: 200px;
  display: inline;
}
html,
body {
  margin: 0;
  height: 100%;
}
