@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.CustomErrorPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "LoginComponents.cshtml";
}

<h2>You don't have the rights to be here!</h2>