@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
    var list = Umbraco.TypedMediaAtRoot();
}

@if (list.Any())
{
    <form method="get" id="filter-by-folder">
      <div class="form-group">
        <label for="tag">Select Folder:</label>
        <select name="folder" id="folder" class="form-control">
          <option disabled selected value>Select folder</option>
          @foreach (var media in list)
          {
            <option value="@media.Id">@media.Name</option>
          }
        </select>
        <button class="clear-filters"><i class="fa fa-times" aria-hidden="true"></i></button>
      </div>

      <div class="form-group">
        <button class="btn btn-success" type="submit">Upload</button>
      </div>
    </form>
}
    